<p>
  scroll works!
</p>
<!--<virtual-scroll [items]="items" (update)="viewPortItems = $event">-->

  <!--<list-item *ngFor="let item of viewPortItems" [item]="item">-->
  <!--</list-item>-->

<!--</virtual-scroll>-->
<!--<virtual-scroll [items]="items" (update)="viewPortItems = $event">-->
  <!--<div *ngFor="let item of viewPortItems">{{item?.name}}</div>-->
<!--</virtual-scroll>-->


<!--<virtual-scroll [items]="items" (update)="viewPortItems = $event">-->
  <!--<div *ngFor="let item of viewPortItems" [item]="item">{{item}}</div>-->
<!--</virtual-scroll>-->

