<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="wrapperHeader">
    <div id="header">
      <img src="./assets/international-space-station.jpg" alt="logo" />
    </div>
  </div>
  <div  style="...">
  <div id="menu">
   <!--<p align="left"><a [routerLink]="['home']">Home</a>-->
  <!--<a [routerLink]="['upload']">File Upload</a>-->
   <!--</p>-->

    <nav>
<p align="left">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/upload" routerLinkActive="active">Upload</a>
</p>


    </nav>
    <router-outlet></router-outlet>

  </div>


</div>

</div>
